.venv/
venv/
__pycache__/
*.pyc
psirt_portal.db
*.db
.idea/
.vscode/
uploads/*
!uploads/.gitkeep
.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
